html {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a{
    margin: 0;
    padding: 0;
  }

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

@font-face {
	font-family: 'Archangelsk';
	src: local('Archangelsk'),
        url('/fonts/Archangelsk.woff2') format('woff2'),
		url('/fonts/Archangelsk.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/RobotoBold.woff2') format('woff2'),
        url('/fonts/RobotoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/RobotoRegular.woff') format('woff'),
        url('/fonts/RobotoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('/fonts/RobotoLight.woff2') format('woff2'),
        url('/fonts/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* ---------- header ----------*/

.header {
    background-image: url(/img/header/header3.png);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 320px;
    margin-right: 320px;
    margin-bottom: 538px;
}

.header__logo {
    max-width: 100%;

}

.header__nav {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 40px;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 320px;
}

.header__block {
    display: inline-block;
    background-image: url(/img/header/block-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 624px;
    padding-top: 70px;
    padding-left: 70px;
}

.heaer__title {
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 70px;
    margin-bottom: 25px;
}

.header__button {                                                              /*Проверить шрифт*/
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 19px 50px;
    background-color: #000;
    color: #F8F200;
    margin-bottom: 70px;
}

/* ---------- section1 ----------*/

.nightcity {
    margin-left: 320px;
}

.nightcity__title {
    padding-top: 70px;
    margin-bottom: 25px;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nightcity__descr {
    max-width: 952px;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 70px;
}

.nightcity__descr_outline {
    color: #52BEDC;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; 
}

.nightcity_flex {
    display: flex;
    margin-bottom: 70px;
}

.nightcity__rightbox {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.screenshots {
    max-width: 460px;
}

.screenshots:not(:last-child) {
    margin-bottom: 32px;
}

.nightcity_transition {
    margin-left: -320px;
    min-width: 1920px;
    min-height: 70px;
    background-image: url(/img/section1/transition_wb.png);
}

/* ---------- action ----------*/

.action {
 
    background-color: #000;
}

.action__container {
    margin-left: 320px;
}

.action__title {
    padding-top: 70px;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 164px;
    background-image: url(/img/section2/action_logo.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.action__descr {
    max-width: 952px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 25px;
}

.action__descr__outline {
    color: #52BEDC;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.action__wrapper {
    display: flex;
    padding-bottom: 70px;
}

.plug {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    min-height: 456px;
    min-width: 460px;
    outline: 3px solid red;
}

.plug__text {
    color: red;

}

.action__image {
    min-height: 456px;
    min-width: 460px;
}

.action__image:not(:last-child) {
    margin-right: -132px;
}

.action__image_xbox {
    z-index: 100;
    background-image: url(/img/section2/action_image1.png);
}

.action__image_ps {
    background-image: url(/img/section2/action_image2.png);
}

.action__transition {
    margin-left: -320px;
    min-width: 1920px;
    min-height: 70px;
    background-image: url(/img/section2/tarnsition_by.png);
}

/* ---------- hp ----------*/

.hp {
    padding-top: 70px;
    background-color: #F8F200;
    padding-bottom: 70px;
}

.hp__container {
    margin-left: 320px;
}

.hp__wrapper {
    display: flex;
}

.hp__rightBlock {
    max-width: 624px;
    margin-right: 32px;
}

.hp__image {
    min-width: 624px;
    min-height: 430px;
    background-image: url(/img/section3/hp_image2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 26px;
}

.hp__logoWrapper {
    margin-left: 42px;
}

.hp__logo {
    display: inline-block;
    min-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.hp__logo:not(:last-child) {
    margin-right: 25px;
}

.hp__logo_hp {
    min-width: 80px;
    background-image: url(/img/section3/hp_logo.svg);
    
}

.hp__logo_cross {
    min-width: 90px;
    background-image: url(/img/section3/cross.svg);
}

.hp__logo_cyberpunk {
    min-width: 321px;
    background-image: url(/img/section3/hp_cyberpunk_logo.png);
}

.hp__leftBlock {
    max-width: 624px;
}

.hp__title {
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.hp__descr {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 25px;
}

.hp__list {
    margin-bottom: 40px;
}

.hp__item {
    min-height: 32px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 42px;
    background-repeat: no-repeat;
    background-position: left;
}

.hp__item:not(:last-child) {
    margin-bottom: 15px;
}

.hp__item_first {
    background-image: url(/img/section3/color_lens.png);
}

.hp__item_second {
    background-image: url(/img/section3/auto_awesome.png);
}

.hp__item_third {
    background-image: url(/img/section3/auto_awesome_motion.png);
}

.hp__button {
    color: #F8F200;
    background-color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 50px;
    border: none;
}